<%- include partials/header.ejs %>

  <h1>Sign up</h1>

  <form method="post" action="/login" class="signup-form">
    <p>
      <label>
        <span>Username:</span>
        <input type="text" name="username" />
      </label>
    </p>
    <p>
      <label>
        <span>Password:</span>
        <input type="password" name="password" />
      </label>
    </p>
    <p>
    <label>
        <span>Role:</span>
        <input type="radio" name="role" value="regular" checked> Regular
        <input type="radio" name="role" value="admin"> Admin<br>
      </label>
    </p>
    <input type="submit" value="Sign up">
  </form>
  <p>
    Already have an account? <a href="/login">Log in</a>
  </p>

<%- include footer.ejs %>
